
table {
    border: 20px ;
}
header {
        background-color:grey;
        text-align: center;
       /* padding: 30pt; */
}

h1 {
    text-align: center;
    font-size: 50pt;
}

h2 {
    text-align: center;
    font-size: 35pt;
}

nav {

    font-size: 20pt;
}

li {
    display: inline;
    padding-inline-start: 80px;
}

th {
    background-color: grey;
    padding: 50pt;
}
body {
    background-color: black;
}



.mainBody {
    background-color: lightgray;
}


.pad {

    padding: 200pt;
}


footer {
    background-color:grey;
    text-align: center;
   /* padding: 30pt; */
}