
h1 {
    text-align: center;
    font-size: 100pt;
    padding-left: 50pt;
}

th {
    background-color: grey;
}

h2 {
    text-align: center;
}

body {
    background-color: lightgray;
}

p {
    font-size:x-large;
}

footer {
    background-color:grey;
    text-align: center;
   /* padding: 30pt; */
}