
table {
    border: 20px ;
}
header {
        background-color:grey;
        text-align: center;
       /* padding: 30pt; */
}

h1 {
    text-align: center;
    font-size: 50pt;
}

h2 {
    text-align: center;
    font-size: 35pt;
}

nav {

    font-size: 20pt;
}

th {
    background-color: grey;
    padding: 50pt;
}



.mainBody {
    background-color: lightgray;
}



footer {
    background-color:grey;
    text-align: center;
   /* padding: 30pt; */
}